body {
  --content-width: var(--desktop-content-width);
  --selected-font: 'Lora', serif;

  font-family: var(--selected-font);
  margin: 3.625rem auto 0;
  max-width: var(--content-width);
}

header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3.2rem;
  padding-block: 3px;

  menu {
    display: flex;
    justify-content: space-between;

    .font-select {
      border-right: 1px solid #e9e9e9;
      margin-right: 26px;
      padding-right: 26px;
    }

    .theme-toggler {
      display: flex;
      justify-content: space-between;
      min-width: 5rem;
    }

    input {
      --thumb-position: 0%;

      appearance: none;
      background-color: #757575;
      block-size: 1.25rem;
      border-radius: 4rem;
      box-sizing: content-box;
      cursor: pointer;
      display: flex;
      inline-size: 2.5rem;
      padding: 3px;
      transition: background-color 0.25s ease;

      &::before {
        content: '';
        background-color: white;
        block-size: 1.25rem;
        border-radius: 50%;
        inline-size: 1.25rem;
        pointer-events: auto;
        transform: translateX(var(--thumb-position));
        transition: 0.25s ease;
      }

      &:checked {
        --thumb-position: 100%;

        background: blue;
      }
    }
  }
}

main {
  form {
    margin-bottom: 8.25rem;
  }
}

form input {
  background: url('/images/icon-search.svg') no-repeat;
  background-position: 96% center;
  background-color: #f4f4f4;
  border: none;
  border-radius: 16px;
  color: #2d2d2d;
  font-size: 1.2rem;
  font-weight: 700;
  outline: none;
  padding: 1.2rem 1.5rem;
  display: flex;
  width: 100%;
}

form input::placeholder {
  color: #2d2d2d;
  opacity: 0.25;
}

form input:focus {
  border: 1px solid #a445ed;
}

@media only screen and (max-width: 48rem) {
  body {
    margin-inline: 2.5rem;
  }
}

@media only screen and (max-width: 25rem) {
  body {
    margin: 1.75rem 1rem 0;
  }
}
